doctype html
html
	head
		style
			include password_reset.css
	body
		div#Wrapper
			h4#Title Hi #{name},
			p.
				#{follower} started following you. Click on the button
				to check it out.
			br
			a(href="wanamic.com")#Link
				button#LinkButton Check it out
		footer
			a(href="wanamic.com")#Logo wanamic
