#LinkButton {
	padding: 1rem;
	color: #fff;
	background: rgb(133, 217, 191);
	border: none;
	border-radius: 2px;
	font-size: 1.08rem;
}

#Link {
	margin: 2rem auto;
}

button:hover {
	cursor: pointer !important;
}

#Wrapper {
	width: 600px;
	margin: auto;
	background: #fff;
	color: #111;
	padding: 2rem;
	display: grid;
}

@media (max-width: 600px) {
	body {
		width: 100vw !important;
	}
	#Wrapper {
		width: 100vw !important;
	}
	#LinkButton {
		font-size: 1.65rem !important;
	}
	#Title {
		font-size: 1.65rem !important;
	}
	p {
		font-size: 1.65rem !important;
	}
	footer {
		font-size: 1.65rem !important;
	}
}

body {
	background: rgb(230, 240, 236);
	padding: 1rem 0 2rem 0;
}

p {
	font-size: 1rem;
	word-wrap: break-word !important;
	width: 100%;
}

#Title {
	font-size: 1.08rem;
	color: rgb(133, 217, 191);
}

footer {
	margin: 0 auto;
	padding: 2rem 0;
	width: 600px;
	text-align: center;
}

#Logo {
	font-size: 1.2rem;
	color: rgba(0,0,0,0.45);
	text-decoration: none;
	font-weight: 600;
}
