doctype html
html
	head
		style
			include password_reset.css
	body
		div#Wrapper
			h4#Title Hi #{name},
			p.
				Someone requested a password reset for your account. If you didn't make this
				request, just ignore this email. Otherwise, you can reset your password
				clicking on the button.
			br
			a(href=resetLink)#Link
				button#LinkButton Reset password
		footer
			a(href="wanamic.com")#Logo wanamic
